{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
    <h1> </h1>
    <form method="post" action="{% url 'newpost' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Добавить пост</button>
    </form>
    </div>
    <h2>Все посты</h2>
    {% for post in posts %}
        <div>
            <h3>{{ post.title }}</h3>
            <p>{{ post.content }}</p>
            <p>Дата публикации: {{ post.date_posted }}</p>
            <p>Автор: {{ post.author.username }}</p>
        </div>
        <hr>
    {% endfor %}
{% endblock %}
